@{
    ViewData["Title"] = "Панель администратора";
}

<h1>Панель администратора</h1>
<div class="col">
    <div class="row">
        <form class="form-group container-fluid" action="/Admin/AdminHome/Products" method="post">
            <button class="btn btn-outline-secondary form-control" type="submit">Товары</button>
        </form>
    </div>
    <div class="row">
        <form class="form-group container-fluid" action="/Admin/AdminHome/Orders" method="post">
            <button class="btn btn-outline-secondary form-control" type="submit">Заказы</button>
        </form>
    </div>
    <div class="row">
        <form class="form-group container-fluid" action="/Admin/AdminHome/Users" method="post">
            <button class="btn btn-outline-secondary form-control" type="submit">Пользователи</button>
        </form>
    </div>
</div>

